DJANGODIR={{ proj_path }}
SOCKFILE={{ virtualenv_path }}/run/gunicorn.sock
NUM_WORKERS={{ gunicorn_num_workers }}


# Set this to 0 for unlimited requests. During development, you might want to
# set this to 1 to automatically restart the process on each request (i.e.
# code will be reloaded on every request).
MAX_REQUESTS={{ gunicorn_max_requests }}


echo "Starting $NAME as `whoami`"

# Activate the virtual environment.
cd $DJANGODIR
. {{ virtualenv_path }}/bin/activate

# Create the run directory if it doesn't exist.
RUNDIR=$(dirname $SOCKFILE)
test -d $RUNDIR || mkdir -p $RUNDIR

exec gunicorn \
    --name $NAME \
    --workers $NUM_WORKERS \
    --max-requests $MAX_REQUESTS \
    --timeout {{ gunicorn_timeout_seconds|default(30) }} \
    --log-level debug \
    --bind unix:$SOCKFILE \
    {{ application_name }}.wsgi